.article-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .blog-title {
    font-size: 2.5rem; 
    margin-bottom: 20px; 
    text-align: center; 
    color: #333; 
  }
  .boxes-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin-left: 90px;
  }
  
  .boxes-container a {
    width: 30%; 
    margin-bottom: 20px; 
  }
  
  @media (max-width: 768px) {
    .boxes-container a {
      width: 45%; 
    }
  }
  
  @media (max-width: 480px) {
    .boxes-container a {
      width: 100%;
    }
  }
  